/dist
/node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.firebase
.firebaserc
firebase.json
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.DS_Store
