.long-logo {
    background: url('../img/tasteU_logo_new_mini.png') no-repeat center center;
    background-size: cover;
    width: 152px
}

.navbar-item {
    text-align: center;
}

.mobile-footer, .navbar-brand {
    display: none !important;
}

.hero-container  {
    background: url('../img/background2-about.jpg') no-repeat fixed 0 0 / cover;
}

.cta-container  {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

.carousel {
    min-width: 40%;
    max-width: 40%;
    position: relative;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel-foreground h3 {
    text-shadow: 4px 4px  rgba(0, 0, 0, 0.65);
}

.slide {
    display: none;
}

.slide img {
    transition: 0.6s;
    width: 30vw;
}

.slide img:hover {
    transition: 0.6s;
    border-radius: 50px;
    transform: scale(1.1);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.prevSlide, .nextSlide {
    cursor: pointer;
    position: absolute;
    user-select: none;
    top: 37.5%;
    margin-top: -22px; 
    color: white;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    font-size: 5rem;
    z-index: 1;
    transition: all 0.6s ease;
    transition-property: color text-shadow;
}

.prevSlide {
    left: -25%;
}
  
.nextSlide {
    right: -25%;
    border-radius: 3px 0 0 3px;
}

.prevSlide:hover, .nextSlide:hover {
    /* background-color: rgba(0,0,0,0.8); */
    transition: all 0.6s ease;
    transition-property: color text-shadow;
    color: black;
    text-shadow: 4px 2px rgba(255, 255, 255, 0.65);
}

.random-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.random-text {
    width: 60%;
    line-height: 2;
}

.carousel-container {
    background: url('../img/leaves2.jpg') no-repeat;
    background-size: 100%;
    object-fit: scale-down;
    
}

.carousel-foreground {
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 50px;
}

.footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* background-color: white !important; */
}

.footer-logo {
    width: 300px;
}

.footer-links li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.footer-links li {
    text-align: right;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .footer img, .centered-logo {
        display: none !important;
    }

    .footer div {
        display: block;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-links li a{
        font-size: medium;
    }
    
    .footer-links li {
        text-align: center;
    }

    .footer-links li:not(:first-child):before {
        content:' | ';
        white-space: pre;
        /* font-size: 24px; */
    }
    
    .mobile-footer, .navbar-brand {
        display: flex !important;
    }

    .cta-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carousel-foreground {
        height: auto;
    }

    .carousel-container {
        height: auto;
        background: url('../img/leaves2.jpg') no-repeat;
        background-size: auto;
        object-fit: contain;
            
    }

    .slide img {
        border-radius: 50px;
        /* margin: 10px; */
        width: 40vw;
    }
    
    .prevSlide {
        left: -50%;
        top: 22.5%;
    }

    .nextSlide {
        right: -50%;
        top: 22.5%;
    }

}
