.navbar-item {
    text-align: center;
}

.mobile-footer, .navbar-brand {
    display: none !important;
}

/* .centered-logo {
    display: flex !important;
} */

.desktop-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: white !important; */
}

.footer-logo {
    width: 300px;
}

.desktop-footer p {
    width: 30%;
}

@media screen and (max-width: 768px) {
    .desktop-footer, .centered-logo {
        display: none !important;
    }
    
    .mobile-footer, .navbar-brand {
        display: flex !important;
    }

}