@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.card__image-zoom {
	transition: transform 0.2s;
}
.card__image-zoom:hover {
	transform: scale(1.1);
}

/* Class addon modified to centered */
.field.has-addons {
    justify-content: center;
}

/* Class center dropdown and button */
.dropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdowns__button {
    left: -10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media screen and (max-width:  1024px) {
    .addon__text-hidden {
        display: none;
    }
}